# Dépendances
backend/vendor/
frontend/node_modules/

# Builds
frontend/dist/
backend/var/

# Environnements
.env.local
.env.local.php
.env.*.local
backend/.env.local
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/var/log/

# JWT keys (à générer)
backend/config/jwt/*.pem

# Volumes Docker locaux
postgres_data/
.vercel
.env*
frontend/.env.local
